<h1><%= @article.title %></h1>
<p><% if @article.draft %>
      DRAFT
    <% end %></p>
<p><% if @article.featured %>
      FEATURED
    <% end %></p>

<%= form_for @article do |p| %>
  
  <p><%= p.label :likes %>
  <%= p.check_box :likes %></p>
  
  <p><%= p.submit %></p>
  
<% end %>

<p><%= @article.body%></p>

<%= link_to("Edit article", edit_article_path)%>
<%= link_to("All articles", articles_path)%>
<%= link_to("Full portfolio", class_projects_path)%>

<p><%= link_to("Home", root_path)%></p>