<h1><%= @article.title %></h1>
<p><% if @article.draft %>
      DRAFT
    <% end %></p>
<p><% if @article.featured %>
      FEATURED
    <% end %></p>

<p><%= link_to("Awesome", awesome_page_path)%>: <% if @awesomes != 0 || @awesomes != nil %>
    <%= @awesomes %>
    <% end %></p>

<p><%= simple_format (@article.body) %></p>


<%= link_to("Edit article", edit_article_path)%>
<%= link_to("All articles", articles_path)%>
<%= link_to("Full portfolio", class_projects_path)%>

<p><%= link_to("Home", root_path)%></p>