<h1>This is the edit form for <%=@form.name%>'s comment</h1>

<% @form.errors.full_messages.each do |msg| %>
  <p><%= msg %></p>
<% end %>

<%= form_for @form do |p| %>
  <%= p.label :name %>
  <%= p.text_field :name %>

  <%= p.label :email %>
  <%= p.text_field :email %>

  <%= p.label :comment %>
  <%= p.text_field :comment %>

  <%= p.submit %>

<% end %>

<p>Would you like to delete <%=@form.name %>'s comment from the list? This action can not be undone.</p>

<p>Would you like to delete this form from your list? This action can not be undone: <%= link_to 'destroy', contact_form_path, :method => :delete, data: {confirm: 'Are you sure?' }%></p>

<p><%= link_to("Home", root_path)%></p>