<% if current_user %>
  Logged in as <%= current_user.email %> <%= link_to("Log out", logout_path)%>
<% else %>
  <%= link_to("Sign-up", signup_path )%> | <%= link_to("Log in", logins_path)%>
<% end %>

<h1>This is my homepage</h1>

<p>Content TBD</p>

<%= link_to("My Portfolio", class_projects_path)%>
<%= link_to("My Articles", articles_path)%>
<%= link_to("Find me online", links_path)%>
<%= link_to("Contact me", new_form_path)%>