<h1>Edit info for <%=@project.name%></h1>

<% @project.errors.full_messages.each do |msg| %>
  <p><%= msg %></p>
<% end %>

<%= form_for @project do |p| %>
  <p><%= p.label :name %>
  <%= p.text_field :name %></p>

  <p><%= p.label :image %>
  <%= p.text_field :image %></p>

  <p><%= p.label :week %>
  <%= p.text_field :week %></p>
  
  <p><%= p.label :code_url %>
  <%= p.text_field :code_url%></p>
  
  <p><%= p.label :view_url %>
  <%= p.text_field :view_url%></p>

  <p><%= p.label :description %>
  <%= p.text_field :description, size: '80x5 '%></p>
  
  <p><%= p.label :featured %>
  <%= p.check_box :featured%></p>

  <p><%= p.submit %></p>

<% end %>

<p>Would you like to delete <%=@project.name %> from your portfolio? This action can not be undone.</p>

<form action = "/projects/<%=@project.id%>/delete" method = "post">
  <input type = "submit" value = "Delete">
</form>

<p><%= link_to("Home", root_path)%></p>