<h1>New Project</h1>

<!--runs any errors if this is rendering from an unvalidated create file -->
<% @project.errors.full_messages.each do |msg| %>
  <p><%= msg %></p>
<% end %>

<!--renders the form whether or not it was sent here from an unvalidated file or another route -->
<%= form_for @project do |p| %>

  <%= p.label :name %>
  <%= p.text_field :name %>
  
  <%= p.label :image %>
  <%= p.text_field :image %>
  
  <%= p.label :week %>
  <%= p.text_field :week %>
  
  <%= p.label :description %>
  <%= p.text_field :description %>
  
  <%= p.submit %>

<% end %>