<h1>This is the detail page for <%= @link.name %></h1>

<p>Check me out on <%=link_to(@link.name, @link.url)%></p>

<%= link_to("Edit details", edit_link_path)%>
<%= link_to("Full portfolio", class_projects_path)%>

<p><%= link_to("Home", root_path)%></p>