<!DOCTYPE html>
<html>
<head>
  <title>Jen Homann</title>
  <link rel="shortcut icon" href="/images/specialicon.ico" type="image/x-icon" />
  <link href='http://fonts.googleapis.com/css?family=Walter+Turncoat' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Kranky' rel='stylesheet' type='text/css'>
  <link rel="shortcut icon" href="/favicon.ico" type="image/icon"> <link rel="icon" href="/favicon.ico" type="image/icon">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>


<body>
  <div id="container">
    
    <header>
      
      <div id="top_nav_container">
        <div class="l-top_nav">
          <p><%=link_to("portfolio", class_projects_path)%></p>
        </div>
        <div class="l-top_nav">
          <p><%=link_to("articles", articles_path)%></p>
        </div>
        <div class="l-top_nav">
          <p><%=link_to("about", about_path)%></p>
        </div>
      </div>
      
      <div id="logo">
        <p><%= link_to("Jen Homann", root_path)%></p>
      </div>
      
    </header>
    <div class="arrow_border">
      <img src="/images/blue_pattern.png">
    </div>
    
    <div id="content">
      <% if flash[:notice]%>
        <p id="notice"><%= flash[:notice]%></p>
        <% end %>
      <% if flash[:alert] %>
        <p id="alert"><%= flash[:alert]%></p>
      <% end %>

      <%= yield %>

    </div> <!-- this is the closing div for #content -->
    
    <div class="arrow_border">
      <img src="/images/blue_pattern_rotated.png">
    </div>
    
    <footer>
      <div class="social_link">
        <p><%= link_to("GitHub", "https://github.com/JenHomann")%></p>
      </div>
      <div class="social_link">
        <p><%= link_to("Twitter", "http://twitter.com/mpjeno")%></p>
      </div>
      <div class="social_link">
        <p><%= link_to("Wordpress", "http://jenhomann.com")%></p>
      </div>
      <div class="social_link">
        <p><%= link_to("Facebook", "http://www.facebook.com/jenhomann")%></p>
      </div>
      <div class="social_link">
        <p><%= link_to("LinkedIn", "http://www.linkedin.com/in/jenhomann")%></p>
      </div>
      <div id="contact_me">
        <p><%= link_to("Contact me", new_contact_form_path)%></p>
      </div>
      <% if current_user %>
        <p class="hidden_login">Logged in as <%= current_user.email %> <%= link_to("Log out", logout_path)%></p>
      <% else %>
        <p class="hidden_login">NOT logged in! <%= link_to("Log in", logins_path)%></p>
      <% end %>
    </footer>
    
  </div> <!-- this is the closing div for container -->
  
</body>

</html>