<!DOCTYPE html>
<html>
<head>
  <title>Profile</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  
<% if current_user %>
  Logged in as <%= current_user.email %> <%= link_to("Log out", logout_path)%>
<% else %>
  NOT logged in! <%= link_to("Log in", logins_path)%>
<% end %>

<% if session[:liked_article_ids] %>
  <p>The value of <strong><code>session[:liked_article_ids]</code></strong> is: <strong><code><%= session[:liked_article_ids] %></code></strong></p>
<% else %>
  <p><strong><code>session[:liked_article_ids]</code></strong> is not set yet.</p>
<% end %>

<p>Your IP address is: <%= request.remote_ip %></p>

<p>Logged in? Well, the session is: <%= session %></p>

<%= yield %>

</body>
</html>